$bg-grey: #f1f1f1;
$bg-light-grey:#f9f9f9;
$breeze:#63d1bb;
$dark-breeze:#56c3b2;
$white:#ffffff;
$black:#000000;
$gray-text:#444444;
$dark-breeze-icon:#35a999;
$dark-grey:#d3d2d2;
$font-reg: "Open Sans";
$font-bold: "Open Sans Bold";
$padding-mobile: 0 30px;
