body {
    @include font-set(15px, 30px, $font-reg, $black);
    width: 320px;
    margin: 0 auto;
    // border: 1px solid black;
}

@media #{$tablet} {
    body {
        width: 768px;
    }
}

@media #{$desktop} {
    body {
        width: 1150px;
    }
}

* {
    box-sizing: padding-box;
}


input::-webkit-input-placeholder,
input:-moz-placeholder,
input::-moz-placeholder,
input:-ms-input-placeholder {
    opacity: 0.3;
}
