.features-table {
    color: $gray-text;
    min-width: 260px;
    border-collapse: collapse;
    &__row {
        border-bottom: 1px solid #ececec;
    }
    &__data {
        padding-bottom: 5px;
    }
}
