.page-footer {
    background-color: $bg-grey;
}

.page-footer__developers-link {
    @include font-set(19px, 19px, $font-bold,  $black);
    text-decoration: none;
    cursor: default;
}

.page-footer__wrapper {
    padding: $padding-mobile;
}
