.page-header {
    padding: 20px 30px;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    &__nav-toggle {
        border: none;
        display: block;
        width: 20px;
        height: 20px;
        background: $white url("../img/icon-menu-open.svg") no-repeat 50% 50%;
        font-size: 0;
        cursor: pointer;
        &:focus {
            outline: none;
        }
    }

    &__logo {
        margin-right: 70px;
    }

}
